body{
    
    color: white;
    
    background-color: saddlebrown;
}
.container {
    max-width: 400px;
    margin: 3vh auto 0 auto;
    border: 3px solid black;
}
h1{
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
    color: black;
    background-color: bisque;
}

.buttons {
    display: grid;
    border-bottom: 1px solid #999;
    border-left: 1px solid#999;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #203469;
}

.buttons > div {
    border-top: 1px solid #999;
    border-right: 1px solid#999;
}

.button {
    border: 0.5px solid #999;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

#equal {
    background-color: rgb(245, 9, 29);
    color: white;
}
#equal:hover{
    background-color: rgb(201, 94, 94);
}

.button:hover {
    background-color: #3c518d;
    color: white;
    transition: 0.5s ease-in-out;
}